<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Better Information Management in Finance</title>
<meta name="description" content="FinFore is a site for financial 
professions to access and manage their information flow in a more 
efficient manner">
<meta name="keywords" content="Financial Markets, Asset Management, 
Equities, Investment Banking, Mergers and Acquisitions">

<link href="images/styles.css" media="screen" rel="stylesheet" 
type="text/css">
<script src="images/jquery-1.js" type="text/javascript"></script>
<script src="images/common.js" type="text/javascript"></script>

<!--below is the code to display the menu properly in ie6-->
<!--[if IE 6]>
<style type="text/css">
#logo {
	margin:35px 0 0 12px; /*change the left margin to half for ie6*/
	}
#tab_content li .left {
	margin:20px 0 0 12px;

}
</style>
<script type="text/javascript" src="js/hide-select.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script defer type="text/javascript" src="js/pngfix.js"></script>
<![endif]-->
</head><body>
<div id="wrapper">
  <div id="header">
    <div id="logo"><img alt="Logo" src="images/logo.png" border="0" 
height="50" width="240"></div>
    <div id="header_menu">
      <ul id="navigation">
        <li><a href="index.htm">Home</a></li>
        <li><a href="download.htm">Download</a></li>
        <li><a href="blog.htm">Blog</a></li>
        <li><a href="about_us.htm" class="current">About Us</a></li>
        <li><a href="contact_us.htm">Contact Us</a></li>
      </ul>
    </div>
    <!--end header menu-->
  </div>
  <!--end header-->

  <div id="content_bg">
    <div class="top">
      <div id="left_column">
        <h1>Blog</h1>
        <p></p><p>
	&nbsp;</p>
<p>
	Welcome to our Blog. We'll keep out customers and supports notified of the latest developments at Finfore here.</p>
        
        <!--end box 4-->
        <p>&nbsp;</p>
      </div>
      <!--end left column-->
      <div id="right_column">
        <br>
        <div class="top_title">Install Finfore's App</div>
        <script type="text/javascript" src="images/swfobject.js"></script>
        <div id="flashcontent"><embed 
type="application/x-shockwave-flash" 
src="images/AIRInstallBadge.swf" style="" id="flashcontent" 
name="flashcontent" bgcolor="#000000" quality="high" 
flashvars="appurl=http://173.203.57.46/demo/finfore.air&amp;appid=FinFore&amp;appversion=0.0.1&amp;pubid=DC457275733303160242EC696B7C84311AA22DD6.1&amp;image=images/business-lending-flavour.jpeg&amp;appname=FinFore&amp;airversion=1.5"
 height="180" width="215"></div><script type="text/javascript">var so = new SWFObject('images/AIRInstallBadge.swf', 'flashcontent', '215', '180', '9.0.115', '#000000');so.addVariable('appurl', 'http://173.203.57.46/demo/finfore.air');so.addVariable('appid', 'FinFore');so.addVariable('appversion', '0.0.1');so.addVariable('pubid', 'DC457275733303160242EC696B7C84311AA22DD6.1');so.addVariable('image', 'demo/business-lending-flavour.jpeg');so.addVariable('appname', 'FinFore');so.addVariable('airversion', '1.5');so.write('flashcontent');</script>
         
      </div>
      <div class="clear"></div>
      <!--this make sure the bottom of the columns stays at the bottom-->
      <div class="bottom"><img 
src="images/background_main_content_bottom.jpg" alt="bottom" 
height="6" width="940"></div>
    </div>
  </div>

 <div id="footer">
    <div class="left">&copy; Finfore Limited</div>
    <div class="right">  <ul>
        <li><a href="index.htm">Home</a></li>
        <li>| <a href="legal_policy.htm">Legal Policy</a></li>
        <li>| <a href="faq.htm">FAQ</a></li>
        <li>| <a href="contact_us.htm">Contact Us</a></li>
      </ul></div>
  </div>
</div>
</body></html>