public/feeds_reader/cache/*
public/feeds_reader/*
log/*.log
log/*.pid
log/call_*
db/schema.rb
db/*.bkp
.DS_Store
*.swp
*~
index/**/*
lib/*.swc
app/flex/*
app/*/*.rb.bak
config/*.rb.bak
config/*.yml.bak
config/*/*.rb.bak
config/*/*/*.rb.bak
.*.bak
*.bak
*.rb.bak
bin-debug/
*.zip
*.txt
*.csv
log/
config/database.yml
config/environment.rb
*.sql
tmp/*.sql
db/schema.rb
