<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
    </head>
    <body>
<p>Hi <%= @name %>,</p>
<p>We received your message and shall be back to you with 24 hours.</p>
<p>If your message is urgent, please email me directly with URGENT in the subject line.</p>
<p>Many thanks for your patience,</p>
<p>Shane Leonard, CFA</p>
<p>Managing Director</p>
<p>shane.leonard@fastnd.com</p>
    </body>
   </html>
