<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
    </head>
    <body>
      <p>Hi,</p>
      <p>We understand you have forgotten your password.</p>
     <p>Here's a reminder of your username and a NEW password, which we recommend you change.</p>
        <ul>
          <li>Username : <%= @login_email %></li>
          <li>Password : <%= @password %></li>
        </ul>
    <p>If you did not request a new password, and believe you received this message in error, please let us know as soon as possible.</p>
      <p>Many thanks,</p>
      <p>Shane Leonard, CFA</p>
      <p>Managing Director,</p>
      <p>shane.leonard@fastnd.com</p>
    </body>
   </html>
