<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
    </head>
    <body>
    <p>Hi <%= @user.full_name %>,</p>
    <p>Welcome to FastND, our service providing you with personalised news and data in finance.</p>
    <p>Your account details are</p> 
    <ul>
      <li>Username: <%= @user.login %></li>
      <li>Password: <%= @password %></li>
    </ul>
    <p>Thanks for joining and we look forward to your feedback.</p>
    <p>Shane Leonard, CFA</p>
    <p>Managing Director,</p>
    <p>shane.leonard@fastnd.com</p>
    </body>
   </html>
