<html>
  <head>
    <style type="text/css">
      body
      {
        background-color:#212c42;
      } 
    </style>
  </head>
  <body>
    <script src="http://www.gmodules.com/ig/ifr?url=http://173.203.57.46/price_charts/gadget_finance&amp;up_stockSymbol=<%= @ticker %>&amp;up_displayVolume=1&amp;up_displayDividends=1&amp;up_displayExtendedHours=1&amp;up_displaySplits=1&amp;up_finance_symbol=<%= @ticker %>&amp;up_defaultZoomDays=5&amp;synd=open&amp;w=390&amp;h=340&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
  </body>
</html>
