<body style="background-color: Black;">
  <div  align="center" width="100%" height="100%">
    <%= image_tag('logo.png') %><br />
    <p><font color="#FFFFFF">Your account has been authorised, please close this window.</font></p>
  </div>

</body>
